* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a{ text-decoration: none;color: #000;}
ul {list-style: none ;vertical-align: middle;}
body {
  display: flex;
  background: #f8f8f8;
}
.w-5{
  width: 5%;
}
.w-20{
  width: 24%;
}
.w-75{
  width: 70%;
}
.sidebar {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  border-right: 1px solid #eee;
}

.sidebar .logo {
  font-size: 22px;
  color: orange;
  margin-bottom: 30px;
}

.sidebar ul li {
  margin: 25px 0;
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.content {
  padding: 20px 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;

}

.search-box {
  display: flex;
  align-items: center;
  background: #e9ecf2;
  padding: 8px 12px;
  border-radius: 10px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
}


.text{padding: 30px;}
p{padding: 36px 0px ;}

.banner {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 20px;
}

.banner img {
  width: 350px;
  border-radius: 10px;
}

.banner button {
  background: orange;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.banner span {
  color: orange;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.categories button {
  background: white;
  border: none;
  padding: 8px 15px;
  margin-right: 8px;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}


.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  display: flex;
  background: white;
  border-radius: 15px;
  flex: 1;
  height: 15rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price button {
  border: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  background: #f3f6ff;
  cursor: pointer;
}
h2{padding: 20px 2px;}
.right {
  background: white;
  border-left: 1px solid #eee;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 40px;
  border-radius: 50%;
}

.credit-card {
  background: linear-gradient(to right, orange, coral);
  color: white;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
}

.order-menu .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f6ff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.order-menu .item img {
  width: 40px;
  border-radius: 50%;
}

.num button {
  background: #fff;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 16px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.total h3 {
  color: green;
  padding: 36px 15px;
}

.checkout {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: orange;
  border: none;
  color: white;
  border-radius: 8px;
}